.app-header {
  background-color: #2c3e50;
  color: white;
  padding: 10px 25px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.app-header h1 {
  margin: 0;
  font-size: 1.5em;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-right {
  justify-content: flex-end;
  gap: 20px; /* Add some space between the name and the button */
}

.app-header h1 {
  flex: 2;
  text-align: center;
}

.icon {
  font-size: 1.8em;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.icon:hover {
  color: #1abc9c;
}

.profile-name {
  font-weight: 500;
  font-size: 1.05em;
}

.sign-out-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: 500;
  transition: background-color 0.2s;
}

.sign-out-button:hover {
  background-color: #c0392b;
}
